{% extends 'base.html' %}

{% block head %}
<title>Mindriver</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
{% endblock %}

{% block body %}
<!-- Plain old HTML and jinja2 nav bar goes here -->

{% if user %}
    <p>Welcome, {{user}}!</p>
{% endif %}

<ul>
    <li>
        <a href="{{url_for('route_index_get')}}">Mindriver</a>
    </li>
    <li>
        <a href="{{url_for('route_login_get')}}">Login</a>
    </li>
    <li>
        <a href="{{url_for('route_logout_get')}}">Logout</a>
    </li>
</ul>

<div id="reactEntry">
    Loading ...
</div>
<!-- Load JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
{% endblock %}