<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind River - Wish Management App</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#Home">Home Page</a></li>
                <li><a href="#Blogs">Blogs</a></li>
                <li><a href="#Why Mind River?">Why Mind River?</a></li>
                <li><a href="#Beta Bot">Bot Beta</a></li>
                <li><a href="#Contact">Contact</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <section id="about">
            <h2>About the App</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl eu ultricies
                consectetur, nunc metus tincidunt urna, a luctus mauris nunc id nunc. Sed auctor, nisl eu
                ultricies consectetur, nunc metus tincidunt urna, a luctus mauris nunc id nunc.</p>
        </section>

        <section id="how-to-use">
            <h2>How to Use</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl eu ultricies
                consectetur, nunc metus tincidunt urna, a luctus mauris nunc id nunc. Sed auctor, nisl eu
                ultricies consectetur, nunc metus tincidunt urna, a luctus mauris nunc id nunc.</p>
        </section>

        <section id="testimonials">
            <h2>Customer Testimonials</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl eu ultricies
                consectetur, nunc metus tincidunt urna, a luctus mauris nunc id nunc. Sed auctor, nisl eu
                ultricies consectetur, nunc metus tincidunt urna, a luctus mauris nunc id nunc.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Mind River. All rights reserved.</p>
    </footer>
</body>

</html>
